<mat-list>
  <mat-list-item>
    <app-settings-option [optionDescriptor]="LsOptionRepository.CAMERA_MODE"></app-settings-option>
  </mat-list-item>
  <mat-list-item>
    <app-settings-color-picker [optionDescriptor]="LsOptionRepository.STEP_CONTROL_COLOR"></app-settings-color-picker>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <app-settings-option [optionDescriptor]="LsOptionRepository.SHADOW_RESOLUTION"></app-settings-option>
  </mat-list-item>
  <mat-list-item>
    <app-settings-option [optionDescriptor]="LsOptionRepository.TEXTURE_FILTERING"></app-settings-option>
  </mat-list-item>
</mat-list>
