/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* TODO investigate how to fix horizontal scroll bars appearing on slide animation inside the animation code*/
}

.flex-spacer {
  flex: 1 1 auto;
}

.monospaced {
  font-family: monospace;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
